{% extends 'base.html.twig' %}

{% block title %}New Captain{% endblock %}

{% block body %}
    <h1>Create new Captain</h1>

    {{ include('captain/_form.html.twig') }}

    <a href="{{ path('captain_index') }}">back to list</a>
{% endblock %}